{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if team %}
<div class="glass-card">

    {% if team.logo %}
        <img src="{{ team.logo.url }}" class="team-logo">
    {% endif %}

    <h1 class="title">{{ team.name }}</h1>

    <p class="text">{{ team.description }}</p>

    <div class="section">
        <h2>🎮 Дисциплина</h2>
        <p>{{ team.discipline }}</p>
    </div>

    <div class="section">
        <h2>🏆 Цель</h2>
        <p>{{ team.goal }}</p>
    </div>
    <div class="section">
        <h2>👤 Страница создателя этого сайта</h2>
        <a href="{{ team.creator }}" target="_blank" class="btn btn-dark btn-lg">
            <i class="bi bi-github"></i> Автор сайта
        </a>
    </div>
</div>
{% else %}
    <p>Информация о команде пока не добавлена.</p>
{% endif %}

{% endblock %}